/* 代码整理：懒人之家 */
@charset "utf-8";
/*html {filter:gray;}*/


ul,ol,li {
	margin:0px;
	padding:0px;
	font: 12px;
	list-style:none;
}

/*链接颜色*/
a {
	margin: 0px;
	padding:0px;
	border:0px;
	font-family:'微软雅黑', Verdana, Arial, Helvetica, sans-serif;
}
a:link {
	color:#333;
	text-decoration:none;
}
a:visited {
	color:#666;
	text-decoration: none;
}
a:hover {
	color:#3399FF;
	text-decoration: underline;
}
.clear {
	clear:both;
}
/*顶部导航*/

#top_nav {
	clear:both;
	width:942px;
	height:42px;
	line-height:26px;
	padding:8px 10px 6px;
	background:url(../../images/nav_bg.png) !important;
/*For Firefox*/
*background:none;
/*For IE7 & IE6*/
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/nav_bg.png', sizingMethod='crop');
	text-align:center;
	font-size:14px;
}
#nav {
	clear:both;
	width:942px;
	height:34px;
	padding:8px 0px 4px;
	overflow:Hidden;
}
#nav ul li a.bbs {
	width:94px;
	background:url(../../images/bbs.gif) left 3px no-repeat;
}
#nav ul li a.bbs:hover {
	background:url(../../images/bbs_hover.gif) left 3px no-repeat;
}
#menu {
	float:left;
	width:740px;
}
#menu li {
	float:left;
	float:left;
	width:82px;
	padding:0px 6px 0px 3px;
	background:url(../../images/nav_line.gif) right top no-repeat;
}
#menu li a {
	display:block;
	width:82px;
	text-align:center;
	height:36px;
	line-height:26px;
	text-decoration:none;
	position:relative;
	z-index:99;
}
#menu li a:hover, #nav ul li a.on, #menu li a.hover {
	background:url(../../images/nav_a_hover.gif) center top no-repeat;
	color:white;
}
#menu .subMenu {
	position:absolute;
	display:none;
	height:35px;
	width:380px;
	z-index:80;
	overflow:hidden;
}
#menu .subMenu .menuleft, #menu .subMenu .menuright {
	background:url(../../images/nav_li_ul_bg.png);
	display:block;
	height:30px;
	float:left;
	line-height:30px;
	position:relative;
	z-index:90;
}
#menu .subMenu .menuleft {
	background-position:left top;
	width:10px;
}
#menu .subMenu .menuright {
	background-position:right top;
	padding-right:10px;
}
#menu .subMenu .menuright a {
	float:left;
	height:30px;
	padding:0;
	width:80px;
	position:relative;
	z-index:99;
}
#menu .subMenu .menuright a:hover {
	background:none;
	text-decoration: none;
	color:#333;
	font-weight:bold;
}
#menu .t3 {
	width:600px;
}
#menu .m4 {
}
